@charset "UTF-8";

/**
 *
 * @authors Your Name (you@example.org)
 * @date    2016-04-21 22:17:24
 * @version $Id$
 */

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(90, 208, 90, 0.92);
    padding: 20px;
    font-family: "微软雅黑";
}

textarea {
    border: 1px solid transparent;
    display: flex;
    margin: auto;
    font-size: 25px;
}

.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0 0 0;
}

.ipt {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#result {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    width: 400px;
}

button {
    background: deepskyblue;
    color: #fff;
    border: 1px solid transparent;
    width: 80px;
    height: 40px;
    line-height: 40px;
    margin-left: 5px;
    cursor: pointer;
}
input {
    width: 250px;
    height: 40px;
    border: 1px solid transparent;
    font-size: 25px;
}

.select {
    color: lightcoral;
    background: blueviolet;
}
