@charset 'UTF-8';

/**
 *
 * @authors Sunshine  625592890@qq.com
 * @date    2016-05-19 10:32:19
 * @hello 	hello world
 * @version $Id$
 */
#tag_container div {
	font-size: 30px;
	line-height: 100px;
	display: inline-block;
	height: 100px;
	margin: 2px 0;
	margin-right: 10px;
	padding: 0 15px;
	text-align: center;
	color: #fff;
	background-color: #6387ED;
	border-radius: 50%;
	transition: all ease .3s;
}
#hobby_container div {
	font-size: 30px;
	line-height: 50px;
	display: inline-block;
	height: 50px;
	margin: 2px 0;
	margin-right: 10px;
	padding: 0 15px;
	text-align: center;
	color: #fff;
	background-color: #6387ED;
	border-radius: 50%;
	transition: all ease .3s;
}
#tag {
	width: 15.0rem;
	margin: 20px auto;
}
#tag span {
	font-size: 1rem;
	font-family: 'Microsoft Yahei';
}
#tag_input {
	border: 1px solid #ccc;
	width: 10.0rem;
}
.text{
	width: 15.0rem;
	margin: 20px auto;
}
.text textarea {
	width: 12.5rem;
	height: 7.5rem;
	border: 1px solid #ccc;
}
.text input[type='button']{
	font-size: 1rem;
	margin-left: 6.0rem;
	background: #3EA6EF;
	border: none;
	color: #fff;
}
